.bullets {

  /* Typography */

  header {
    text-align: center;
    text-transform: uppercase;
  }
  h1 {
    font-weight: 400;
    font-family: Oswald;
    @include font-size(15);
    color: rgb(169, 125, 53);
    display: inline;
    margin-right: 10px;
  }
  p {
    font-weight: 400;
    font-family: Lato;
    @include font-size(15);
    color: rgb(224, 193, 103);
    display: inline;
    vertical-align: top;
  }
  dl {
    font-weight: 400;
    font-family: Oswald;
    @include font-size(26);
    color: rgb(224, 224, 224);
    //  fit text
  }
  .brand {
    text-transform: uppercase;
  }

  /* layout */

  width: 83.33333%;
  @include pie-clearfix;

  @include adapt-to(hands) {
    width: auto
  }

  header {
    margin-bottom: 18px;
    border: solid rgb(229, 229, 229);
    border-width: 1px 0;
    padding: .75em 0;

    + article {
      border-width: 0;

      dl {
        padding-left: 22px;
      }
      figure {
        padding-left: 10px
      }
    }

  }

  article {
    position: relative;
    float: left;
    width: 20%;
    height: 420px;
    border-left: 1px solid rgb(229, 229, 229);

    @include adapt-to(hands) {
      float: none;
      width: auto;
      height: auto;
      clear: both;
    }
  }

  figure {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 140px;
    z-index: 2;

    @include adapt-to(hands) {
      float: right;
      width: 70%;
      position: static;
      img {
        @include transform(rotate(90deg)); 
      }
    }
  }

  dl {
    width: 100%;
    padding: 0 12px;
    margin: 0;
    position: absolute;
    bottom: 30px;
    z-index: 1;

    @include adapt-to(hands) {
      float: left;
      position: static;
      width: 30%;
    }
  }

  dd {
    margin: 0;
  }
}
