<article class="borders">
  <aside>
    <figure>
      <img src="images/italian-head.jpg" alt="An Italian man">
      <img src="images/indian-head.jpg" alt="An Indian woman">
      <img src="images/chinese-head.jpg" alt="A Chinnese man">
      <img src="images/blonde-head.jpg" alt="An blonde woman">
      <figcaption class="visually-hidden">People of different nationalities</figcaption>
    </figure>
  </aside>
  <header>
    <h1><span class="slabtext">Border Bottom Line</span></h1>
    <p><span class="slabtext">Awful immigration laws from around the world.</span></p>      
  </header>
  <dl>
    <dt>Italy</dt>
    <dd>penalizes illegal immigrants with a fine of €5,000-10,000 and allows immigration officials to detain them for up to 6 months. </dd>
    <dt>Switzerland</dt>
    <dd>immediately deports all convicted criminals from other countries and potentially even their family members.</dd>
    <dt>Australia</dt>
    <dd>detains all non-citizens without a valid visa.</dd>
    <dt>Japan</dt>
    <dd>is allowed to pay $3,000 to each unemployed Latin American immigrant of Japanese descent and $2,000 to each of that unemployed worker’s family members to return to their country of origin.</dd>
    <dt>The United Arab Emirates</dt>
    <dd>prohibits foreigners from engaging in any sort of labor union-like activity, resulting in harsh living conditions, 80-hour work weeks, back-breaking manual labor, and below-minimum-wage pay.</dd>
  </dl>
</article>
