<article class="box-model">
  <figure>
    <img data-start="left: 0; top: 0; z-index: 2" data-150="left: -220px; top: -20px" data-320="left: -125px; z-index: 0" class="lid" src="images/barbie-box-lid.png" alt="Lid of box" />
    <img class="base" src="images/barbie-box-contents.png" alt="Barbie doll in box" />
    <figcaption class="visually-hidden">Barbie doll in presentation box with lid</figcaption>
  </figure>
  <header>
    <h1>Box Model</h1>
  </header>
  <p>The Barbie doll was invented in 1959 by Ruth Handler (co-founder of Mattel), whose own daughter was called Barbara. Barbie was introduced to the world at the American Toy Fair in New York City. Barbie's job was teenage fashion doll. The full name of the first doll was Barbie Millicent Roberts, from Willows, Wisconsin.</p>
</article>
