<article class="bullets">
  <header>
    <h1>List style: bullets.</h1>
    <p>A round-up of popular ammunition</p>
  </header>
  <article>
    <dl>
      <dt class="visually-hidden">Diameter</dt>
      <dd class="diameter">.223</dd>
      <dt class="visually-hidden">Brand</dt>
      <dd class="brand">Remington</dd>
      <dt class="visually-hidden">Weight &amp; Type</dt>
      <dd class="weight-type"><span class="slabtext">69<abbr title="grains">gr</abbr> <abbr title="Boat tipped hollow point">BTHP</abbr></span></dd>
    </dl>
    <figure>
      <img src="images/remington-69gr.png" alt=".223 Remington with and without cartridge" />
    </figure>
  </article>
  <article>
    <dl>
      <dt class="visually-hidden">Diameter</dt>
      <dd class="diameter">.308</dd>
      <dt class="visually-hidden">Brand</dt>
      <dd class="brand">Winchester</dd>
      <dt class="visually-hidden">Weight &amp; Type</dt>
      <dd class="weight-type"><span class="slabtext">168<abbr title="grains">gr</abbr> <abbr title="Boat tipped hollow point">BTHP</abbr></span></dd>
    </dl>
    <figure>
      <img src="images/winchester-168gr.png" alt=".308 Winchester with and without cartridge" />
    </figure>
  </article>
  <article>
    <dl>
      <dt class="visually-hidden">Diameter</dt>
      <dd class="diameter">7.62×39mm</dd>
      <dt class="visually-hidden">Brand</dt>
      <dd class="brand">Russian</dd>
      <dt class="visually-hidden">Weight &amp; Type</dt>
      <dd class="weight-type"><span class="slabtext">154<abbr title="grains">gr</abbr> <abbr title="Jacketed soft point">JSP</abbr></span></dd>
    </dl>
    <figure>
      <img src="images/russian-154gr.png" alt="7.62 Russian bullet with and without cartridge" />
    </figure>
  </article>
  <article>
    <dl>
      <dt class="visually-hidden">Diameter</dt>
      <dd class="diameter">7.62</dd>
      <dt class="visually-hidden">Brand</dt>
      <dd class="brand">Thumper</dd>
      <dt class="visually-hidden">Weight &amp; Type</dt>
      <dd class="weight-type"><span class="slabtext">220<abbr title="grains">gr</abbr> <abbr title="Round nose">RN</abbr></span></dd>
    </dl>
    <figure>
      <img src="images/thumper-220gr.png" alt="7.62 Thumper 220gr bullet with and without cartridge" />
    </figure>
  </article>
  <article>
    <dl>
      <dt class="visually-hidden">Diameter</dt>
      <dd class="diameter">7.62</dd>
      <dt class="visually-hidden">Brand</dt>
      <dd class="brand">Thumper</dd>
      <dt class="visually-hidden">Weight &amp; Type</dt>
      <dd class="weight-type"><span class="slabtext">240<abbr title="grains">gr</abbr> <abbr title="Boat tipped hollow point">BTHP</abbr></span></dd>
    </dl>
    <figure>
      <img src="images/thumper-240gr.png" alt="7.62 Thumper 240gr bullet with and without cartridge" />
    </figure>
  </article>
</article>
