<article class="display">
  <header>
    <h1>Displaying (famous) Blocks</h1>
  </header>
  <figure>
    <div class="map">
      <img src="images/abbey-road.jpg" alt="Album cover of Abbey Road by the Beatles" />
      <div class="map-container">
        <iframe width="960" height="632" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" 
          src="https://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;sll=51.53736,-0.183754&amp;sspn=0.011345,0.023389&amp;g=abbey+road&amp;ie=UTF8&amp;hq=Abbey+Road+Studios,+Abbey+Road,+London&amp;t=m&amp;ll=51.532135,-0.177884&amp;spn=0.016952,0.041156&amp;z=16&amp;output=embed"></iframe>
      </div>
    </div>

    <figcaption>
      <p>Abbey Road is a thoroughfare located in the borough of Camden and the City of Westminster in London, running roughly northwest to southeast through St. John’s Wood, near Lord’s Cricket Ground. It is part of the B507. This road is best known for the Abbey Road Studios and the 1969 album, Abbey Road, by The Beatles.</p>
      <cite><a href="http://goo.gl/h44dc9">Photo: goo.gl/h44dc9</a></cite>
    </figcaption>
  </figure>

</article>
