<article class="floats">
  <header>
    <h1>Staying afloat</h1>
  </header>
  <p>Lobsterman John Aldridge fell into the shark-infested water of Long Island while his crewmates were asleep. He was kept afloat for more than 12 hours by his rubber boots, which he used as flotation devices. The coast guard rescued him 43 miles south of Montauk where he fell off his vessel.</p>
  <figure>
    <img src="images/boots.png" alt="A pair of boots" />
    <figcaption class="visually-hidden">Boots belonging to John Aldridge</figcaption>
  </figure>
</article>
