<footer class="site-footer">
  <p>2013 CSSOff, <em>Volume 3</em></p>
  <address>
    <strong>Route Gregory</strong>, Building 31<br>
    01630 Prévessin-Moëns, France<br>
    +41 22 767 61 11
  </address>
</footer>
