<section class="part01">
  <article class="box-model">
    <figure>
      <img data-start="left: 0; top: 0; z-index: 2" data-150="left: -220px; top: -20px" data-320="left: -125px; z-index: 0" class="lid" src="images/barbie-box-lid.png" alt="Lid of box" />
      <img class="base" src="images/barbie-box-contents.png" alt="Barbie doll in box" />
      <figcaption class="visually-hidden">Barbie doll in presentation box with lid</figcaption>
    </figure>
    <header>
      <h1>Box Model</h1>
    </header>
    <p>The Barbie doll was invented in 1959 by Ruth Handler (co-founder of Mattel), whose own daughter was called Barbara. Barbie was introduced to the world at the American Toy Fair in New York City. Barbie's job was teenage fashion doll. The full name of the first doll was Barbie Millicent Roberts, from Willows, Wisconsin.</p>
  </article>

  <article class="position">
    <figure>
      <img src="images/fading-away.jpg" alt="Fading Away, Henry Peach Robinson" width="800" height="550" />
      <figcaption class="visually-hidden">Fading Away by Henry Peach Robinson</figcaption>
    </figure>
    <header>
      <small>Feature</small>
      <h1>Positioning Relatives</h1>
    </header>
    <p>In 1858, English pictorial photographer Henry Peach Robinson created the world’s first photomontage by combining five different negatives to make one complete print of a young girl on her deathbed. “Fading Away”—Robinson’s first and most famous composite photo—depicts a young girl dying of consumption and was controversial when it was exhibited, with many believing it was not a suitable subject for photography.</p>
  </article>
</section>

