<article class="position">
  <figure>
    <img src="images/fading-away.jpg" alt="Fading Away, Henry Peach Robinson" width="800" height="550" />
    <figcaption class="visually-hidden">Fading Away by Henry Peach Robinson</figcaption>
  </figure>
  <header>
    <small>Feature</small>
    <h1>Positioning Relatives</h1>
  </header>
  <p>In 1858, English pictorial photographer Henry Peach Robinson created the world’s first photomontage by combining five different negatives to make one complete print of a young girl on her deathbed. “Fading Away”—Robinson’s first and most famous composite photo—depicts a young girl dying of consumption and was controversial when it was exhibited, with many believing it was not a suitable subject for photography.</p>
</article>
