<article class="transforms">
  <figure>
    <img src="images/transformers-dvd.png" alt="DVD version of Transformers, Revenge of the Fallen">
    <figcaption class="visually-hidden">DVD version of Transformers, Revenge of the Fallen</figcaption>
  </figure>
  <header>
    <h1>
      <span class="slabtext">Transformers</span> <span class="slabtext">Revenge of the Fallen</span>
    </h1>
  </header>
  <blockquote>
    <p>A noisy, underplotted, and overlong special effects extravaganza that lacks a human touch.</p>
    <footer>
      <p>
        <cite><span class="slabtext">Rotten Tomato</span> <span class="slabtext">Rating</span></cite> 20%
        <div><span style="width: 20%"></span></div>
      </p>
    </footer>
  </blockquote>
  <aside>
    <h2><span>World premiere</span></h2>
    <ul>
      <li>Den Haag Theatre</li>
      <li>The Netherlands</li>
      <li>June 23, 2011</li>
    </ul>
  </aside>
</article>
